:root {
  --web: 1248px;
  --ipad: 820px;
  --iphone: 500px;
}
* {
  box-sizing: border-box;
}
/* IPAD */
@media screen and (max-width: 800px) {
  .div-home > .btn-buy {
    width: 30%;
}
  .d-block > .ul-one
  {
    display: none;
  }
 
  .side-menu {
    display: none;
  }

 .d-block > .nav-bar {
    display: block;
    
}
  .side-menu:checked~.hamb .bar-nav {
    background: transparent;
  }

  .side-menu:checked~.hamb .bar-nav::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked~.hamb .bar-nav::after {
    transform: rotate(45deg);
    top: 0;
  }
  .div-home
  {
    text-align: center;
  }
}

/* MOBILE */
@media screen and (max-width: 650px) {
  .gird-2 {
   
    grid-template-columns: auto;
  }
  div > .gird-2 {
    grid-template-columns: auto;
}

}

/* WEB OTHERS */
@media screen and (max-width: 1350px) {
  .div-home
  {
    text-align: center;
  }
}

/* /** */

@media screen and (max-width: 200px) {
  body{
    display: none;
  }
}