:root {
  --web: 1248px;
  --ipad: 820px;
  --iphone: 500px;
}

* {
  box-sizing: border-box;
}

/* IPAD */
@media screen and (max-width: 820px) {
  div>.div-home {
    height: 400px;
  }

  .div-home>.btn-buy {
    width: 30%;
  }

  .d-block>.ul-one {
    display: none;
  }

  .side-menu {
    display: none;
  }

  .d-block>.nav-bar {
    display: block;

  }

  .side-menu:checked~.hamb .bar-nav {
    background: transparent;
  }

  .side-menu:checked~.hamb .bar-nav::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked~.hamb .bar-nav::after {
    transform: rotate(45deg);
    top: 0;
  }

  .div-home {
    text-align: center;
  }
}

/* MOBILE */
@media screen and (max-width: 650px) {
  div > div > .img-produc {
    width: 50%;
    padding: 10px 30px 50px;
    transition: transform .3s ease-out;
    margin: auto;
}
  div > .card-3 {
   
    padding: 0;
   
}
 nav >  .pr-25 {
    padding-right: 5px;
}
nav >  .pl-25 {
    padding-left: 5px;
}

  div>.gird-2 {
    padding-top: 0; 
    grid-template-columns: auto;
  }

  div>.text-tt3 {
    font-size: 25px;
    font-weight: 600;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
  }
  div > .gird-footer {
    display: grid;
    grid-template-columns: AUTO;
}
footer > .h-footer {
  padding-left: 20px;
}
  div >.h-ic {
    width: 40px;
    top: 0;
    position: absolute;
    left: auto;
}
  div > .relative>.img-vt-sale {
    position: absolute;
    width: 25%;
    left: 80%;
    top: -9px;
    animation: rung 1s ease infinite;
  }

  .slick-list>.slick-track {
    gap: 0;
  }
  div > .ntiendat-store
{
  min-height: auto;
}
}

/* WEB OTHERS */
@media screen and (max-width: 1350px) {
  .div-home {
    text-align: center;
  }
}

/* /** */

@media screen and (max-width: 200px) {
  body {
    display: none;
  }
}