:root {
  --web: 1248px;
  --ipad: 820px;
  --iphone: 500px;
}
* {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .d-block > .ul-one
  {
    display: none;
  }
 
  .side-menu {
    display: none;
  }

 .d-block > .nav-bar {
    display: block;
    
}
  .side-menu:checked~.hamb .bar-nav {
    background: transparent;
  }

  .side-menu:checked~.hamb .bar-nav::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked~.hamb .bar-nav::after {
    transform: rotate(45deg);
    top: 0;
  }
}


@media screen and (max-width: 200px) {
  body{
    display: none;
  }
}