body {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body {
    margin: 0;
}



.ul-one {
    display: flex;
    gap: 100px;
}


.card-g {
    min-height: 500px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

div>ul {
    margin: 0;
}

.navmenu {
    padding: 15px;
    background-color: #ca0000;
    overflow: hidden;
    z-index: 99;
    position: sticky;
    top: 0;
    width: 100%;

}

.d-block {
    display: block;
}

.logo {
    width: 100px;
}

.d-flex {
    display: flex;
}

.menu-2 {
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 25px;
    display: none;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.show {
    display: block;
}

.ul-two {
    display: grid;
    gap: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.pt-10 {
    padding-top: 10px;
}

.p-5 {
    padding: 5px;
}



/* Style span tag */
.nav-bar {
    display: none;
}

.bar-nav::before,
.bar-nav::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bar-nav::before {
    top: 7px;
}

.bar-nav::after {
    top: -7px;
}


.bar-nav {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;

}


/* card1 */
.img-banner {
    position: relative;
    overflow: hidden;
}

.img-banner img {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s linear;
}

.img-banner .img-1 img {
    opacity: 1;
}

.img-1 {
    position: absolute;
    width: 100%;
}

.img-1>img {
    width: 100%;
}

.img-2>img {
    width: 100%;
}

.gird-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 70px;

}

.h-ic {
    width: 40px;
    top: -8px;
    position: absolute;
    left: 238px;
}

.div-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 20px;
    height: 500px;
}

.w60 {
    width: 60%;
    display: block;
    margin: auto;
    transition: transform .3s ease-out;
}

.w60:hover {
    transform: scale(1.1);
}

.logo-text {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}

.slg {
    font-size: 25px;
    font-weight: 500;
    color: #6c6c6cfd;
}

.btn-buy {
    background-color: #03A9F4;
    border: none;
    padding: 10px;
    color: #fff;
    width: 16%;
    border-radius: 8px;
}

.hot-lg {
    width: 30%;
    transform: rotate(45deg);
    position: absolute;
    bottom: 5px;
    left: 86px;
    z-index: -3;
}

.btn-buy:hover {
    cursor: pointer;
    background-color: #43bcf5;
    box-shadow: 0px 0px 5px #43bcf5;
}

.w100 {
    width: 100%;
    display: block;
}

li>a:hover {
    color: aliceblue;
    text-decoration: underline;
    font-weight: 600;

}

.relative {
    position: relative;
}

.mga {
    display: block;
    margin: auto;
}

.h-icon {
    width: 25%;
    position: absolute;
    top: 0;
    left: 65%;
    animation: rung 1s ease infinite
}

#button {
    position: absolute;
    left: 87%;
    border: none;
    background: none;
    top: 4px;
    font-size: 10px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"] {
    padding-left: 10px;

    border: 1px solid #fff;
}

.form-s {
    position: relative;
    display: flex;
}

.form-s:focus {
    outline: none;
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes rung {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

footer {
    border-top: 1px solid #e4e4e4;



}

.low-footer {
    border-top: 1px solid #e4e4e4;
    color: #000;
    font-weight: 600;
    padding: 15px;
    text-align: center;
}

.h-footer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-footer {
    font-size: 26px;
    font-weight: 700;
}

.gird-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-footer-2 {
    color: #3c3e43;
    font-size: 14px;

    font-family: sans-serif;
    display: flex;
    gap: 5px;
}

.slg-footer {
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 20px;
}

.text-tt2 {
    color: #00000072;
    font-weight: 500;
    font-style: 15px;
}

.gird-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-card {
    width: 25%;
}

.item-card>img {
    width: 100%;
}

.t-link {
    color: #3c3e43;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
}

.next-t {
    grid-column: span 2/span 2;
}

img {
    cursor: grab;
}

li>a {
    color: #fff;
    text-decoration: none;

}

.text-tt3 {
    font-size: 20px;
    font-weight: 600;
    padding-left: 40px;
}

.slider {
    width: 100%;

}

.regular.slider.slick-initialized.slick-slider.slick-dotted {

    padding-top: 30px;
    padding-bottom: 10px;
}
.modal-body > img
{
    width: 100%;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}
.regular > .slick-next:before {
    color: black;
}
.regular > .slick-prev:before {
    color: black;
}
button.slick-next.slick-arrow {
    right: 5px;
}
button.slick-prev.slick-arrow {
    left: 5px;
    z-index: 99;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.card-prd {
    transition: all 0.2s ease-in-out;
    border: 1px solid #e5e5e5;
}

.card-prd:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff !important;
    z-index: 1;

    border-radius: 5px;
}
.card-prd:hover .price-prd{
    color: #ffffff;
}
.card-prd:hover .img-produc {
    transform: scale(1.05);
}
.relative > .dn
{
    display: none;
}
.card-prd:hover .img-vt-sale{
   display: none;
}
.card-prd:hover .dn{
    display: block;
 }
.img-produc {
    padding: 10px 30px 50px;
    transition: transform .3s ease-out;
}


.relative>.img-vt-sale {
    position: absolute;
    width: 35%;
    left: 80%;
    top: -9px;
    animation: rung 1s ease infinite
}

.price-prd {
    min-height: 47px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 14px;
    background: #ffc107;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}

.tt-prd {
    font-weight: 300;
    text-decoration: none;
    line-height: 1.33;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
    font-family: inherit;
    margin-top: 11px;
}
.rating .fa-stack {
    font-size: 8px;
}
.rating .fa-star+.fa.fa-star {
    color: #ffc107;
}
.rating .fa.fa-star {
    color: #999;
    font-size: 14px;
}
.text_comment {
    font-size: 13px;
    color: #a5a5a5;
    font-weight: 300;
}
.product-price {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: #a5a5a5;
    text-decoration: line-through;
    padding-top: 2px;
}
.relative>.img-vt-saleq {
    position: absolute;
    width: 55%;
    left: 73%;
    top: 0px;
    animation: blink 1s ease infinite;
    transform: rotate(90deg);
}
.card-3 {
    border: 1px solid #e5e5e5;
    margin-top: 50px;
    margin-bottom: 25px;
    width: 93%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    padding: 0 50px 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 0px;
}
.text-store
{
    font-size: 20px;
    color: #515151;
    padding: 30px 0 30px;
    text-align: center;
    font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-transform: uppercase;
    font-weight: 700;

}

.dg-store
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8px;
  gap:15px;
}
.text-5
{
  padding: 16px 16px 0 16px;
  font-weight: 500;
  font-size: 16px;
    font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    
    line-height: 20px;
}
.if-store {
  display: flex;
  gap: 5px;
  padding: 5px 16px 0px;
  align-items: center;
  color: #006d9a;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 0.875rem;
  font-family: 'Open Sans', -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
.pb16
{
  padding-bottom: 16px;
}
.ntiendat-store
{
  overflow: hidden;
  border-radius: 5px;
  min-height: 320px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.ntiendat-store > div > img
{

    width: 100%;
    height: 200px;
    object-fit: cover;

}