body {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

footer {
    padding: 15px;
    text-align: center;
    background-color: #ca0000;
    color: #fff;
    font-weight: 600;
}

.ul-one {
    display: flex;
    gap: 100px;
}




li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

.nav {
    padding: 15px;
    background-color: #ca0000;
    overflow: hidden;
    z-index: 99;
    position: sticky;
    top: 0;
    width: 100%;

}

.d-block {
    display: block;
}

.logo {
    width: 100px;
}

.d-flex {
    display: flex;
}

.menu-2 {
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 25px;
    display: none;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.show {
    display: block;
}

.ul-two {
    display: grid;
    gap: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.pt-10 {
    padding-top: 10px;
}

.p-5 {
    padding: 5px;
}



/* Style span tag */
.nav-bar {
    display: none;
}

.bar-nav::before,
.bar-nav::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bar-nav::before {
    top: 7px;
}

.bar-nav::after {
    top: -7px;
}


.bar-nav {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;

}


/* card1 */
.img-banner {
    position: relative;
    overflow: hidden;
}

.img-banner img {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s linear;
}

.img-banner .img-1 img {
    opacity: 1;
}

.img-1 {
    position: absolute;
    width: 100%;
}

.img-1>img {
    width: 100%;
}

.img-2>img {
    width: 100%;
}

.gird-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 70px;
    padding-bottom: 35px;
}

.div-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    gap: 35px;
}

.logo-text {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}

.slg {
    font-size: 25px;
    font-weight: 500;
    color: #6c6c6cfd;
}

.btn-buy {
    background-color: #03A9F4;
    border: none;
    padding: 10px;
    color: #fff;
    width: 16%;
    border-radius: 8px;
}

.btn-buy:hover {
    cursor: pointer;
    background-color: #43bcf5;
    box-shadow: 0px 0px 5px #43bcf5;
}

.w100 {
    width: 100%;
    display: block;
}

li>a:hover {
    color: aliceblue;
    text-decoration: underline;
    font-weight: 600;

}

.relative {
    position: relative;
}
.mga
{
    display: block;
    margin: auto;
}
.h-icon {
    width: 25%;
    position: absolute;
    top: 0;
    left: 65%;
    animation: rung 1s ease infinite
}

@-webkit-keyframes rung {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}