body {
    margin: 0;
}


ul{
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

.ul-one {
    display: flex;
    gap: 100px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    padding: 15px;
    background-color: #464646;

}

.d-block {
    display: block;
}

.logo {
    width: 100px;
}

.d-flex {
    display: flex;
}
.menu-2
{
  padding-right: 25px;  
  padding-top: 10px;
  padding-left: 25px;
  display: none;
}
.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}
.show
{
    display: block;
}

.ul-two
{
    display: grid;
    gap: 20px;
}
.pl-25 {
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px;
}
.pt-10 {
    padding-top: 10px;
}
.p-5 {
    padding: 5px;
}



/* Style span tag */
.nav-bar {
    display: none;
}

.bar-nav::before,
.bar-nav::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bar-nav::before {
    top: 7px;
}

.bar-nav::after {
    top: -7px;
}


.bar-nav {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;

}